<header>
    <div class="header-container">
        <div class="logo">
            <a href="/"><img src="/assets/home.svg" alt="logo" /></a>
        </div>
        <h1 class="title">Todo List App - Demo</h1>
        <div class="auth-buttons">
            <button class="button loginButtonModal">Login</button>
            <button class="button registerButtonModal">Register</button>
        </div>
    </div>
</header>
