<dialog id="dialog-box">
    <div class="dialog-header">
        <h2></h2>
    </div>
    <div class="dialog-body">
        <p></p>
    </div>
    <div class="dialog-footer">
        <button id="dialog-ok-button">OK</button>
    </div>
</dialog>
