# Server configuration
PORT=8080

# JWT configuration
JWT_SECRET=your_jwt_secret_here
JWT_AUDIENCE=your_jwt_audience_here
JWT_ISSUER=your_jwt_issuer_here

# MongoDB connection string (for local development)
MONGO_LOCAL=mongodb://localhost:27017/todo-app
# MongoDB connection string (check your atlas account)
MONGO_URI=your_mongo_atlas_uri_here

# Winston logger log level => fallback is set to INFO
LOG_LEVEL=debug